$warning: darkorchid;
@import "~bootstrap/scss/bootstrap";

body {
  font-family: Helvetica, sans-serif, Monospace;
  background: seashell;
}
li {
  border: 2px outset chocolate;
  border-radius: 10px;
  box-shadow: 5px 5px 3px chocolate;
  margin-top: 20px;
  background: ivory;
  list-style-type: none;
  padding: 10px 10px;
  &:hover {
    background: moccasin;
  border-left: 5px solid magenta;
  }
}

a:hover {
  text-decoration: none;
}
#block {
  text-align: center;
  margin: 50px auto;
}
#searchicon {
  cursor: pointer;
  color: tomato;
  &:hover {
    color: limegreen;
    transition: color 1s ease-out 0.25s;
  }
}
#searchbox {
  font-size: 20px;
  margin-right: 20px;
}
#searchclose:hover {
  color: crimson;
  cursor: pointer;
  transition: color 1s ease-out 0.25s;
}
footer {
  font-size: 2em;
}

@media screen and (max-width: 720px) {
  body {
    transform: scale(0.75);
  }
}