$warning: darkorchid;
@import "~bootstrap/scss/bootstrap";

$font-size-min: 1rem;
$font-family: Helvetica, sans-serif, Monospace;

@mixin hover-01 {
  color: limegreen;
  transition: color 1s ease-out 0.25s;
  cursor: pointer;
}
@mixin layout-01 {
  text-align: center;
  margin: 10vh auto auto;
  width: 90%;
}

body {
  font-family: $font-family;
  background: seashell;
  font-size: $font-size-min;
}

#block {
  @include layout-01;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: 1em;
}

h3 {
  font-size: $font-size-min;
}

li {
  font-size: $font-size-min;
  border: 2px outset chocolate;
  border-radius: 10px;
  box-shadow: 5px 5px 3px chocolate;
  margin-top: 2em;
  background: ivory;
  list-style-type: none;
  padding: 10px 10px;
  &:hover {
    background: moccasin;
    border-left: 5px solid magenta;
  }
}

a:hover {
  text-decoration: none;
}

#wikiicon {
  transform: scale(0.75);
}

#searchicon {
  @extend #wikiicon;
  color: tomato;
  &:hover {
    @include hover-01;
  }
}

input {
  width: 30%;
}

#searchback {
  margin-right: 1em;
  &:hover {
    @include hover-01;
  }
}

footer {
  font-family: $font-family;
  font-size: $font-size-min;
  margin-top: 1em;
}

@media screen and (min-width: 720px) {
  h1 {font-size: 1.5rem;}
  #wikiicon {transform: scale(1.0)}
  footer {font-size: 1.2rem;}
}

/*
@media screen and (min-width: 1080px) {
  body {
    transform: scale(2.0);
  }
}
*/